{% load static %}
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agregar tarjetas | Banca Virtual</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
  </head>
  <body>
    <form method="POST">
      {% csrf_token %}
      <h2>Agregar tarjeta</h2>
      <p>Llena el siguiente formulario para crear una nueva tarjeta.</p>
      <div class="inputGrid">
        <div class="inputRow">
          {{form.id}}
          <label for="id">Id de tarjeta</label>
          {% include "icons/hash.svg" %}
        </div>
        <div class="inputRow">
          {{form.credit}}
          <label for="credit">Credito</label>
          {% include "icons/dollar-sign.svg" %}
        </div>
        <div class="inputRow">
          <select name="brand" id="brand">
            <option value="Seleccionar Marca" selected disabled>Seleccionar Marca</option>
            <option value="Prefepuntos">Prefepuntos</option>
            <option value="Cashback">Cashback</option>
          </select>
          <label for="brand">Marca</label>
          {% include "icons/book.svg" %}
        </div>
        <div class="inputRow">
          <select name="user" id="user">
            <option value="Seleccionar usuario" selected disabled>Seleccionar usuario</option>
            {% for user in users %}
            <option value="{{user.0}}">{{user.0}}</option>
            {% endfor %}
          </select>
          <label for="user">Usuario</label>
          {% include "icons/user.svg" %}
        </div>
      </div>

      <div id="actions">
        <button style="width: 150px">
          <span style="width: 100%; text-align: center">Agregar tarjeta</span>
        </button>
      </div>
    </form>
  </body>
</html>
