{% load static %}
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cambiar cheque | Banca Virtual</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
  </head>
  <body>
    <form method="POST">
      {% csrf_token %}
      <h2>Cobrar cheques</h2>
      <p>Llena el siguiente formulario para cobrar un cheque.</p>
      <div class="inputGrid">
      <div class="inputRow">
          {{form.name}}
          <label for="account">Nombre</label>
          {% include "icons/user.svg" %}
        </div>
        <div class="inputRow">
          <select id="account" name="account" autocomplete="off" required aria-placeholder="Seleccionar cuenta">
            <option hidden selected disabled value="Seleccionar cuenta">Seleccionar cuenta</option>
            {% for account in accounts %}
            <option value="{{account.id}}">{{account.id}} {{account.type}}</option>
            {% endfor %}
          </select>

          <label for="account">Cuenta</label>
          {% include "icons/book-open.svg" %}
        </div>
        <div class="inputRow">
          <select id="check" name="check" autocomplete="off" required aria-placeholder="Seleccionar cheque">
            <option hidden selected disabled value="Seleccionar cuenta">Seleccionar cheque</option>
            {% for check in checks %}
            <option value="{{check.0}}">{{check.0}} {{check.1}}</option>
            {% endfor %}
          </select>

          <label for="account">Cheque</label>
          {% include "icons/check-square.svg" %}
        </div>
      </div>
      </div>

      <div id="actions">
        <button>
          <span style="width: 100%; text-align: center">Cobrar cheque</span>
        </button>
      </div>
    </form>
  </body>
</html>
