@font-face {
  font-family: "Oxygen";
  src: url("../fonts/Oxygen-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Oxygen";
  src: url("../fonts/Oxygen-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Oxygen";
  src: url("../fonts/Oxygen-Light.ttf") format("truetype");
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
}

@keyframes entry {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

body {
  --blue: #2196f3;
  --red: #e91e63;
  background-color: #f5f5f5;
  animation: entry 0.3s linear 1;
  font-size: 17px;
}

h2,
p {
  color: #333;
}

button,
.button {
  --color: var(--blue);
  appearance: none;
  border: none;
  outline: none;
  background: var(--color);
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  transition: box-shadow 0.2s ease-in-out, background 0.2s ease-in-out;
  border: 2px solid var(--color);
  font-size: 0.8em;
  text-decoration: none;
  text-align: center;
}

button.outline,
.button.outline {
  background: transparent;
  color: var(--color);
}

button:hover,
.button:hover,
button:focus,
.button:focus {
  box-shadow: 0 0 5px var(--color);
}

button.outline:hover,
.button.outline:hover,
button.outline:focus,
.button.outline:focus {
  background: var(--color);
  color: #fff;
}

.inputRow {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 20px;
  height: 50px;
  background: #f5f5f5;
}

.inputRow > svg {
  position: absolute;
  height: 50%;
  left: 15px;
  transition: color 0.2s ease-in-out;
  stroke: #888;
}

.inputRow > label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-190%) scale(0.9);
  font-size: 0.9em;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #fff;
  padding: 0 10px;
  font-weight: bold;
  color: #888;
}

.inputRow > input {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 1em;
  border: 2px solid #bbb;
  padding: 0 10px 0 2.9em;
  transition: border-color 0.2s ease-in-out;
}

.inputRow > input:hover {
  border-color: #777;
}

.inputRow > input:hover ~ label {
  color: #777;
}

.inputRow > input:hover ~ svg {
  stroke: #777;
}

.inputRow > input:focus {
  border-color: var(--blue);
}

.inputRow > input:focus ~ label {
  color: var(--blue);
}

.inputRow > input:focus ~ svg {
  stroke: var(--blue);
}

.inputRow > input:not(:placeholder-shown):invalid {
  border-color: var(--red);
}

.inputRow > input:not(:placeholder-shown):invalid ~ label {
  color: var(--red);
}
.inputRow > input:not(:placeholder-shown):invalid ~ svg {
  stroke: var(--red);
}

@media screen and (max-width: 400px) {
  body {
    font-size: 15px;
  }
}
