body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../images/login_background.svg");
  background-size: cover;
  backdrop-filter: invert(0%) blur(3px);
  padding: 30px;
}

@keyframes formEntry {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}

form {
  background: #fff;
  width: 100%;
  max-width: 350px;
  padding: 40px 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: formEntry 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1;
}

form > h2 {
  line-height: 0.9;
  margin-bottom: 10px;
}

form > p {
  line-height: 1.4;
  margin-bottom: 20px;
}

form > #actions {
  display: flex;
  justify-content: flex-end;
}
form > #actions > button,
form > #actions > .button {
  width: 50%;
  padding: 10px 0px;
}

form > #actions > a:first-child {
  margin-right: 10px;
  --color: #777;
}
