body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../images/login_background.svg");
  background-size: cover;
  backdrop-filter: invert(70%) blur(3px);
  padding: 30px;
}

@keyframes formEntry {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}

form {
  background: #fff;
  width: 100%;
  max-width: 570px;
  padding: 40px 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  animation: formEntry 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1;
}

form > .inputGrid {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 10px));
  grid-template-rows: auto auto auto auto;
  column-gap: 20px;
}

form > h2 {
  line-height: 0.9;
  margin-bottom: 10px;
}

form > p {
  margin-bottom: 20px;
}

form > #actions {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

form > #actions > button,
form > #actions > .button {
  width: 33.33%;
  padding: 10px 0px;
}

form > #actions > a:first-child {
  margin-right: 10px;
  --color: #777;
}

form > #actions > a:nth-child(2) {
  margin-right: 10px;
}

#isSingle ~ .inputGrid > #account_business {
  display: flex;
}
#isSingle:checked ~ .inputGrid > #account_business {
  display: none;
}

#isSingle ~ .inputGrid > #account_cui {
  display: none;
}
#isSingle:checked ~ .inputGrid > #account_cui {
  display: flex;
}

.account_select {
  position: absolute;
  top: 140px;
  height: 50px;
  z-index: 1;
  left: 00px;
  width: 245px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 1em;
  border: 2px solid #bbb;
  padding: 0 10px 0 2.6em;
  transition: border-color 0.2s ease-in-out;
}
