body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../images/login_background.svg");
  background-size: cover;
  backdrop-filter: invert(70%) blur(3px);
  padding: 30px;
}

form {
  background: #fff;
  width: 100%;
  max-width: 570px;
  padding: 40px 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

form > .inputGrid {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 10px));
  grid-template-rows: auto auto auto;
  column-gap: 20px;
}

form > h2 {
  line-height: 0.9;
  margin-bottom: 10px;
}

form > p {
  margin-bottom: 20px;
}

form > #actions {
  position: relative;
  width: 300px;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

form > #actions::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -210px;
  width: 200px;
  height: 2px;
  background-color: #bbb;
}

form > #actions > button,
form > #actions > .button {
  width: 50%;
  padding: 10px 0px;
}

form > #actions > a:first-child {
  margin-right: 10px;
  --color: #777;
}
