{% load static %}
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Compras | Compra en linea</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
  </head>
  <body>
    <form method="POST">
      {% csrf_token %}
      <h2>Comprar con tarjeta</h2>
      <p>Llena el siguiente formulario para comprar con tu tarjeta.</p>
      <div class="inputGrid">
        <div class="inputRow">
          {{form.amount}}
          <label for="amount">Monto</label>
          {% include "icons/dollar-sign.svg" %}
        </div>
        <div class="inputRow" style="margin: 60px 0">
          {{form.description}}
          <label for="description">Descripcion</label>
        </div>
        <div class="inputRow">
          {{form.isdollar}}
          <label for="description">Dollar <span>Moneda</span></label>
        </div>
        <div class="inputRow">
          <input type="date" id="date" name="date" />
          <label for="date">Fecha:</label>
          {% include "icons/calendar.svg" %}
        </div>
        <div class="inputRow">
          <select id="card" name="card" autocomplete="off" required aria-placeholder="Seleccionar tarjeta">
            <option hidden selected disabled value="Seleccionar tarjeta">Seleccionar tarjeta</option>
            {% for card in cards %}
            <option value="{{card.0}}">{{card.0}} {{card.1}}</option>
            {% endfor %}
          </select>

          <label for="card">Tarjeta</label>
          {% include "icons/credit-card.svg" %}
        </div>
      </div>

      <div id="actions">
        <button>
          <span style="width: 100%; text-align: center">Agregar cheque</span>
        </button>
      </div>
    </form>
  </body>
</html>
