{% load static %}
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Compras | Compra en linea</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
  </head>
  <body>
    <form method="POST">
      {% csrf_token %}
      <h2>Comprar con tarjeta</h2>
      <p>Llena el siguiente formulario para comprar con tu tarjeta.</p>
      <div class="inputGrid">
        <div class="inputRow">
          {{form.amount}}
          <label for="amount">Monto</label>
          {% include "icons/dollar-sign.svg" %}
        </div>
        <div class="inputRow">
          <select id="account" name="account" autocomplete="off" required aria-placeholder="Seleccionar cuenta">
            <option hidden selected disabled value="Seleccionar cuenta">Seleccionar cuenta</option>
            {% for account in accounts %}
            <option value="{{account.id}}">{{account.id}} {{account.type}}</option>
            {% endfor %}
          </select>

          <label for="account">Cuenta</label>
          {% include "icons/book-open.svg" %}
        </div>
      </div>

      <div id="actions">
        <button>
          <span style="width: 100%; text-align: center">Agregar cheque</span>
        </button>
      </div>
    </form>
  </body>
</html>
