{% load static %}
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cuentas | Banca Virtual</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/account.css' %}" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>

  <body>
    {% include "navigation.html" %}
    <main>
      <div class="title">
        <div class="description">
          <h1>Información de cuentas</h1>
          <p>
            Aquí se mostrara la información básica de todas tus cuentas asociadas a tu usuario.
            <a href='{% url "states" %}' class="outline button" style="margin-top: 10px">
              {% include "icons/align-left.svg" %} Ver estados de cuenta
            </a>
          </p>
        </div>
        <form style="display: flex; justify-content: flex-end" method="POST" novalidate>
          {% csrf_token %}
          <div class="payments_services" style="width: 250px">
            <h2>Agregar cuenta</h2>
            <p>
              Llena estos datos para agregar <br />una cuenta de terceros.
              <button type="submit">{% include "icons/plus.svg" %} Agregar cuenta</button>
            </p>
          </div>
          <div class="payments_accounts" style="position: relative; top: 12px">
            <div class="inputRow">
              {{form.id}}
              <label for="account_number">No. Cuenta</label>
              {% include "icons/user.svg" %}
            </div>

            <div class="inputRow">
              <select
                id="account_type"
                name="account_type"
                autocomplete="off"
                required
                aria-placeholder="Seleccionar tipo"
              >
                <option hidden selected disabled value="Seleccionar tipo">Seleccionar tipo</option>
                <option value="Monetaria">Monetaria</option>
                <option value="Ahorro">De ahorro</option>
                <option value="Plazo fijo">Plazo fijo</option>
              </select>

              <label for="account_type">Tipo de cuenta</label>
              {% include "icons/file.svg" %}
            </div>
          </div>
        </form>
      </div>
      <div class="container">
        <!-- CUENTAS MONETARIAS -->
        <div class="accounts">
          <div class="account_container">
            <h2>Cuentas de <strong>{{username}}</strong></h2>
            <ul class="accounts_table">
              <li>
                <strong>No. Cuenta</strong>
                <strong>Tipo de cuenta</strong>
                <strong>Saldo</strong>
                <strong>Moneda</strong>
                <strong>Estado</strong>
              </li>
              {% for account in accounts %}
              <li>
                <p>{{account.id}}</p>
                <p>{{account.type}}</p>
                <p>{{ account.balance }}</p>
                <p>{% if account.isDollar == 1 %} Dollar {% else %} Quetzal {% endif %}</p>
                <p>
                  <strong
                    >{% if account.state == 1 %} Activa {% else %} Inactiva {% endif %}</strong
                  >
                </p>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <img src="{% static 'images/accounts.svg' %}" alt="Accounts Illustration" />
      </div>
    </main>
  </body>
</html>
