{% load static %}
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cuentas | Banca Virtual</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/account.css' %}" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    {% include "navigation.html" %}
    <main>
      <div class="title">
        <div class="description">
          <h1>Información de cuentas</h1>
          <p>
            Aquí se mostrara la información básica de todas tus cuentas
            asociadas a tu usuario.
            <a
              href='{% url "states" %}'
              class="outline button"
              style="margin-top: 10px"
            >
              {% include "icons/align-left.svg" %} Ver estados de cuenta
            </a>
          </p>
        </div>
        <div style="display: flex; justify-content: flex-end">
          <div class="payments_services" style="width: 250px">
            <h2>Agregar cuenta</h2>
            <p>
              Llena estos datos para agregar <br />una cuenta de terceros.
              <button>{% include "icons/plus.svg" %} Agregar cuenta</button>
            </p>
          </div>
          <div class="payments_accounts" style="position: relative; top: 12px">
            <div class="inputRow">
              <input
                type="number"
                id="account_number"
                autocomplete="off"
                placeholder="3423423423"
                oninvalid="this.setCustomValidity('Ingresa una cuenta valida')"
                oninput="this.setCustomValidity('')"
                required
              />
              <label for="account_number">No. Cuenta</label>
              {% include "icons/user.svg" %}
            </div>
            <div class="inputRow">
              <select
                id="account_type"
                autocomplete="off"
                required
                aria-placeholder="Seleccionar tipo"
              >
                <option hidden selected disabled value="Seleccionar tipo">
                  Seleccionar tipo
                </option>
                <option>Monetaria</option>
                <option>De ahorro</option>
              </select>

              <label for="account_type">Tipo de cuenta</label>
              {% include "icons/file.svg" %}
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <!-- CUENTAS MONETARIAS -->
        <div class="accounts">
          <div class="account_container">
            <h2>Cuentas <strong>Monetarias:</strong></h2>

            <ul class="accounts_table">
              <li>
                <strong>No. Cuenta</strong>
                <strong>Nombre</strong>
                <strong>Crédito</strong>
                <strong>Estado</strong>
                <strong>Acciones</strong>
              </li>
              <li>
                <p><strong>000001</strong></p>
                <p>Alex Santos</p>
                <p>999.24</p>
                <p><strong>Activa</strong></p>
                <p><button>{% include "icons/settings.svg" %}</button></p>
              </li>
              <li>
                <p><strong>000002</strong></p>
                <p>Daniel Valenzuela</p>
                <p>Q5,522.24</p>
                <p><strong>Suspendida</strong></p>
                <p><button>{% include "icons/settings.svg" %}</button></p>
              </li>
              <li>
                <p><strong>000003</strong></p>
                <p>Alex Santos</p>
                <p>Q999.24</p>
                <p><strong>Activa</strong></p>
                <p>
                  <button>{% include "icons/settings.svg" %}</button>
                </p>
              </li>
            </ul>
          </div>

          <div class="account_container">
            <h2>Cuentas de <strong>Ahorro:</strong></h2>

            <ul class="accounts_table">
              <li>
                <strong>No. Cuenta</strong>
                <strong>Nombre</strong>
                <strong>Crédito</strong>
                <strong>Estado</strong>
                <strong>Acciones</strong>
              </li>
              <li>
                <p><strong>000001</strong></p>
                <p>Alex Santos</p>
                <p>999.24</p>
                <p><strong>Activa</strong></p>
                <p><button>{% include "icons/settings.svg" %}</button></p>
              </li>
              <li>
                <p><strong>000002</strong></p>
                <p>Daniel Valenzuela</p>
                <p>Q5,522.24</p>
                <p><strong>Suspendida</strong></p>
                <p><button>{% include "icons/settings.svg" %}</button></p>
              </li>
              <li>
                <p><strong>000003</strong></p>
                <p>Alex Santos</p>
                <p>Q999.24</p>
                <p><strong>Activa</strong></p>
                <p>
                  <button>{% include "icons/settings.svg" %}</button>
                </p>
              </li>
            </ul>
          </div>
        </div>

        <img
          src="{% static 'images/accounts.svg' %}"
          alt="Accounts Illustration"
        />
      </div>
    </main>
  </body>
</html>
