{% load static %}
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cheques | Banca Virtual</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/account.css' %}" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    {% include "navigation.html" %}
    <main>
      <div class="title">
        <div class="inputs_container">
          <div class="payments_services">
            <h2>Pre-autorización</h2>
            <p>
              Aquí puedes realizar la <br />preautorizacion de cheques.
              <button>{% include "icons/edit-3.svg" %} Preautorizar</button>
            </p>
          </div>
          <div class="payments_accounts">
            <div class="inputRow">
              <select id="account" autocomplete="off" required aria-placeholder="Seleccionar cuenta">
                <option hidden selected disabled value="Seleccionar cuenta">Seleccionar cuenta</option>
                <option>0000001 Alex Santos</option>
                <option>0000003 Daniel Valenzuela</option>
                <option>0000004 Alex Santos</option>
              </select>

              <label for="account">Cuenta de cheque</label>
              {% include "icons/user.svg" %}
            </div>
            <div class="inputRow">
              <input
                type="number"
                id="no_check"
                autocomplete="off"
                placeholder="2938082380"
                oninvalid="this.setCustomValidity('Ingresa un número de cheque valido')"
                oninput="this.setCustomValidity('')"
                required
              />
              <label for="no_check">Número de cheque</label>
              {% include "icons/credit-card.svg" %}
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <!-- CUENTAS MONETARIAS -->
        <div class="accounts" style="width: 100%">
          <div class="account_container">
            <h2>Historial de <strong>cheques:</strong></h2>

            <ul class="accounts_table">
              <li>
                <strong style="width: 50px">No.</strong>
                <strong style="width: 150px">Nombre</strong>
                <strong style="width: 120px">No. cuenta</strong>
                <strong>Monto</strong>
                <strong style="width: 90px">Estado</strong>
                <strong style="width: 220px">Fecha de emision</strong>
                <strong style="width: 220px">Fecha de cobro</strong>
              </li>
              {% for check in checks %}
              <li>
                <strong style="width: 50px">{{check.9}}</strong>
                <p style="width: 150px">{{check.10}}</p>
                <p style="width: 120px">{{check.13}}</p>
                <p>{% if check.6 == '1' %} $ {% else %} Q {% endif %} {{check.12}}</p>
                <strong style="width: 90px"
                  >{% if check.15 == '1' %} Cobrado {% else %} Emitido {% endif %}
                </strong>
                <p style="width: 220px">{{check.11}}</p>
                <p style="width: 220px">{% if check.14 %} {{check.14}} {% else %} Sin fecha de cobro{% endif %}</p>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
