{% load static %}
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cheques | Banca Virtual</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/account.css' %}" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <style>
    #check_enable ~ #enable_check {
      display: none;
    }

    #check_enable ~ #disable_check {
      display: flex;
    }

    #check_enable:checked ~ #enable_check {
      display: flex;
    }

    #check_enable:checked ~ #disable_check {
      display: none;
    }
  </style>
  <body>
    {% include "navigation.html" %}
    <main>
      <div class="title">
        <form class="inputs_container" method="POST">
          <div class="payments_services">
            {% csrf_token %}
            <h2>Pre-autorización</h2>
            <p>
              Aquí puedes realizar la <br />preautorizacion de cheques.
              <button>{% include "icons/edit-3.svg" %} Preautorizar</button>
            </p>
          </div>
          <div class="payments_accounts">
            <div class="inputRow">
              <select
                id="account"
                name="account"
                autocomplete="off"
                required
                aria-placeholder="Seleccionar cuenta"
              >
                <option hidden selected disabled value="Seleccionar cuenta">Seleccionar cuenta</option>
                {% for account in accounts %}
                <option value="{{account.id}}">{{account.id}} {{account.type}}</option>
                {% endfor %}
              </select>

              <label for="account">Cuenta de cheque</label>
              {% include "icons/user.svg" %}
            </div>
            <div class="inputRow">
              <select id="check" name="check" autocomplete="off" required aria-placeholder="Seleccionar cuenta">
                <option hidden selected disabled value="Seleccionar cuenta">Seleccionar cheque</option>
                {% for check in checks %}
                <option value="{{check.9}}">{{forloop.counter}} {{check.10}}</option>
                {% endfor %}
              </select>

              <label for="check">Numero de cheque</label>
              {% include "icons/credit-card.svg" %}
            </div>
          </div>
        </form>
        <form class="inputs_container" method="POST">
          {% csrf_token %}
          <div class="payments_services">
            <h2>Cheques</h2>
            <p>
              Aquí puedes habilitar la <br />chequera virtual de cuentas.
              <button>{% include "icons/save.svg" %} Guardar cambios</button>
            </p>
          </div>
          <div class="payments_accounts" style="grid-template-columns: auto">
            <div class="inputRow">
              <select
                id="check_account"
                name="check_account"
                autocomplete="off"
                required
                aria-placeholder="Seleccionar cuenta"
              >
                <option hidden selected disabled value="Seleccionar cuenta">Seleccionar cuenta</option>
                {% for account in accounts %}
                <option value="{{account.id}}">{{account.id}} {{account.type}}</option>
                {% endfor %}
              </select>

              <label for="check_account">Cuenta de chequera</label>
              {% include "icons/user.svg" %}
            </div>
            <div class="inputRow">
              <input type="checkbox" id="check_enable" name="check_enable" />
              <label id="enable_check" for="from_account">Habilitado <span>Habilitar/Deshabilitar</span></label>
              <label id="disable_check" for="from_account"
                >Deshabilitado <span>Habilitar/Deshabilitar</span></label
              >
            </div>
          </div>
        </form>
      </div>
      <div class="container">
        <!-- CUENTAS MONETARIAS -->
        <div class="accounts" style="width: 100%">
          <div class="account_container">
            <h2>Historial de <strong>cheques:</strong></h2>

            <ul class="accounts_table">
              <li>
                <strong style="width: 50px">No.</strong>
                <strong style="width: 150px">Nombre</strong>
                <strong style="width: 120px">No. cuenta</strong>
                <strong>Monto</strong>
                <strong style="width: 90px">Estado</strong>
                <strong style="width: 220px">Fecha de emision</strong>
                <strong style="width: 220px">Fecha de cobro</strong>
              </li>
              {% for check in checks %}
              <li>
                <strong style="width: 50px">{{forloop.counter}}</strong>
                <p style="width: 150px">{{check.10}}</p>
                <p style="width: 120px">{{check.13}}</p>
                <p>{% if check.6 == '1' %} $ {% else %} Q {% endif %} {{check.12|floatformat:2}}</p>
                <strong style="width: 90px"
                  >{% if check.15 == '1' %} Cobrado {% else %} Emitido {% endif %}
                </strong>
                <p style="width: 220px">{{check.11}}</p>
                <p style="width: 220px">{% if check.14 %} {{check.14}} {% else %} Sin fecha de cobro{% endif %}</p>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
