{% load static %}
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prestamos | Banca Virtual</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/account.css' %}" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    {% include "navigation.html" %}
    <main>
      <div class="title">
        <form method="POST" class="inputs_container">
          {% csrf_token %}
          <input type="checkbox" name="isRequest" id="isRequest" style="display: none" />
          <div class="payments_services">
            <h2>Solicitud</h2>
            <p>
              Llena el siguiente formulario <br />
              para solicitar un préstamo.
              <button onclick="enableRequest()">{% include "icons/download.svg" %} Solicitar préstamo</button>
            </p>
          </div>
          <div class="payments_accounts">
            <div class="inputRow">
              {{form.amount}}
              <label for="amount">Monto</label>
              {% include "icons/dollar-sign.svg" %}
            </div>
            <div class="inputRow">
              <select
                id="plan"
                name="plan"
                autocomplete="off"
                required
                aria-placeholder="Seleccionar plan"
                required
              >
                <option hidden selected disabled value="Seleccionar plan">Seleccionar plan</option>
                <option value="12">12 meses</option>
                <option value="24">24 meses</option>
                <option value="36">36 meses</option>
                <option value="48">48 meses</option>
              </select>

              <label for="plan">Tipo de plan</label>
              {% include "icons/file.svg" %}
            </div>
          </div>
          <div class="payments_accounts">
            <div class="inputRow">
              {{form.description}}

              <label for="description">Descripcion</label>
            </div>
          </div>
          <div class="payments_services">
            <h2>Cotizador</h2>
            <p>
              Puedes consultar aquí cuales<br />
              serán tus cuotas primero.<br />
              <button onclick="disableRequest()">{% include "icons/book.svg" %} Cotizar</button>
            </p>
          </div>
        </form>
      </div>
      <div class="container">
        <!-- CUENTAS MONETARIAS -->
        <div class="accounts">
          <div class="account_container">
            <h2>Cotizador de <strong>prestamos:</strong></h2>

            <ul class="accounts_table">
              <li>
                <strong>Pagos</strong>
                <strong style="width: 100px">Cuota</strong>
                <strong>Ct. Interes</strong>
              </li>
              {% if quotas %}
              <li>
                <p><strong>{{quotas.pays}}</strong></p>
                <p style="width: 100px">Q{{quotas.withoutInterest|floatformat:2}}</p>
                <p>Q{{quotas.withInterest|floatformat:2}}</p>
              </li>
              {% endif %}
            </ul>
          </div>
          <div class="account_container">
            <h2>Historial de <strong>prestamos:</strong></h2>

            <ul class="accounts_table">
              <li>
                <strong>Código</strong>
                <strong>Plan de pago</strong>
                <strong>Monto</strong>
                <strong>Estado</strong>
                <strong>Acciones</strong>
              </li>
              <li>
                <p><strong>234234</strong></p>
                <p>Quincenal</p>
                <p>Q4321.22</p>
                <p><strong>Pagado</strong></p>
                <p><button>{% include "icons/settings.svg" %}</button></p>
              </li>
              <li>
                <p><strong>S24132</strong></p>
                <p>Mensual</p>
                <p>Q5200.23</p>
                <p><strong>Pendiente</strong></p>
                <p><button>{% include "icons/settings.svg" %}</button></p>
              </li>
              <li>
                <p><strong>NBS21</strong></p>
                <p>Trimestral</p>
                <p>Q9999.24</p>
                <p><strong>Pagado</strong></p>
                <p>
                  <button>{% include "icons/settings.svg" %}</button>
                </p>
              </li>
              <li>
                <p><strong>234234</strong></p>
                <p>Quincenal</p>
                <p>Q4321.22</p>
                <p><strong>Pagado</strong></p>
                <p><button>{% include "icons/settings.svg" %}</button></p>
              </li>
              <li>
                <p><strong>S24132</strong></p>
                <p>Mensual</p>
                <p>Q5200.23</p>
                <p><strong>Pendiente</strong></p>
                <p><button>{% include "icons/settings.svg" %}</button></p>
              </li>
              <li>
                <p><strong>NBS21</strong></p>
                <p>Trimestral</p>
                <p>Q9999.24</p>
                <p><strong>Pagado</strong></p>
                <p>
                  <button>{% include "icons/settings.svg" %}</button>
                </p>
              </li>
            </ul>
          </div>
        </div>
        <form method="POST"></form>
      </div>
    </main>
    <script>
      const isRequest = document.getElementById("isRequest");
      const disableRequest = () => (isRequest.checked = false);
      const enableRequest = () => (isRequest.checked = true);
    </script>
  </body>
</html>
