{% load static %}
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prestamos | Banca Virtual</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/account.css' %}" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    {% include "navigation.html" %}
    <main>
      <div class="title">
        <form method="POST" class="inputs_container">
          {% csrf_token %}
          <input type="checkbox" name="isRequest" id="isRequest" style="display: none" />
          <div class="payments_services">
            <h2>Solicitud</h2>
            <p>
              Llena el siguiente formulario <br />
              para solicitar un préstamo.
              <button onclick="enableRequest()">{% include "icons/download.svg" %} Solicitar préstamo</button>
            </p>
          </div>
          <div class="payments_accounts">
            <div class="inputRow">
              {{form.amount}}
              <label for="amount">Monto</label>
              {% include "icons/dollar-sign.svg" %}
            </div>
            <div class="inputRow">
              <select
                id="plan"
                name="plan"
                autocomplete="off"
                required
                aria-placeholder="Seleccionar plan"
                required
              >
                <option hidden selected disabled value="Seleccionar plan">Seleccionar plan</option>
                <option value="12">12 meses</option>
                <option value="24">24 meses</option>
                <option value="36">36 meses</option>
                <option value="48">48 meses</option>
              </select>

              <label for="plan">Tipo de plan</label>
              {% include "icons/file.svg" %}
            </div>
          </div>
          <div class="payments_accounts">
            <div class="inputRow">
              {{form.description}}

              <label for="description">Descripcion</label>
            </div>
          </div>
          <div class="payments_services">
            <h2>Cotizador</h2>
            <p>
              Puedes consultar aquí cuales<br />
              serán tus cuotas primero.<br />
              <button onclick="disableRequest()">{% include "icons/book.svg" %} Cotizar</button>
            </p>
          </div>
        </form>
      </div>
      <div class="container">
        <!-- CUENTAS MONETARIAS -->
        <div class="accounts">
          <div class="account_container">
            <h2>Cotizador de <strong>prestamos:</strong></h2>

            <ul class="accounts_table">
              <li>
                <strong>Pagos</strong>
                <strong style="width: 100px">Cuota</strong>
                <strong>Ct. Interes</strong>
              </li>
              {% if quotas %}
              <li>
                <p><strong>{{quotas.pays}}</strong></p>
                <p style="width: 100px">Q{{quotas.withoutInterest|floatformat:2}}</p>
                <p>Q{{quotas.withInterest|floatformat:2}}</p>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
        <form method="POST" onsubmit="preventSubmit()">
          {% csrf_token %}
          <h2>Realizar <strong>pago:</strong></h2>
          <p>Llena el siguiente formulario <br />para pagar tus cuotas.</p>
          <br />
          <br />
          <div class="inputRow">
            <select
              id="account"
              name="account"
              autocomplete="off"
              required
              aria-placeholder="Seleccionar cuenta"
              required
            >
              <option hidden selected disabled value="Seleccionar cuenta">Seleccionar cuenta</option>
              {% for account in accounts %}
              <option value="{{account.id}}">{{account.id}} {{account.type}}</option>
              {% endfor %}
            </select>

            <label for="plan">Cuenta</label>
            {% include "icons/user.svg" %}
          </div>
          <div class="inputRow">
            <select
              id="quota"
              name="quota"
              autocomplete="off"
              required
              aria-placeholder="Seleccionar cuota"
              required
            >
              <option hidden selected disabled value="Seleccionar cuota">Seleccionar cuota</option>
              {% for loan in loans %}
              <option value="{{loan.0}}">{{loan.2}}</option>
              {% endfor %}
            </select>

            <label for="plan">Cuota</label>
            {% include "icons/user.svg" %}
          </div>
          <div class="inputRow">
            <input type="date" name="payDate" id="payDate" />
            <label for="payDate">Fecha de pago</label>
            {% include "icons/calendar.svg" %}
          </div>
          <button onclick="confirmPassword()">Realizar pago</button>
        </form>
      </div>
    </main>
    <script>
      const isRequest = document.getElementById("isRequest");
      const disableRequest = () => (isRequest.checked = false);
      const enableRequest = () => (isRequest.checked = true);
    </script>
    <script>
      // GLOBALES
      let password = "{{user.password}}";
      let send = false;

      // PROMPT DE CONTRA
      const confirmPassword = () => {
        let inputPass = prompt("Ingresa tu contraseña para continuar");
        if (inputPass === password) send = true;
      };

      // EVITAR ENVIÓ
      const preventSubmit = (ev) => {
        return send;
      };
    </script>
  </body>
</html>
