{% load static %}
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transacciones con cuentas propias | Banca Virtual</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/transactions.css' %}" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    {% include "navigation.html" %}
    <main>
      <div class="title">
        <div class="description">
          <h1>Cuentas propias</h1>
          <p>
            Aqui puedes hacer transaferencias en quetzales de una cuenta propia a otra.
            <a
              href='{% url "accounts" %}'
              alt="Third accounts"
              class="outline button"
              style="margin-top: 10px"
            >
              {% include "icons/plus.svg" %} Asociar Cuenta de terceros
            </a>
          </p>
        </div>
      </div>
      <form class="container" method="POST">
        {% csrf_token %}
        <div class="account_box">
          <h2>Cuenta a debitar:</h2>
          <p>Asegurate de disponer de una cuenta con fondos para la transferencia.</p>
          <div class="inputRow">
            <select
              id="originAccount"
              name="originAccount"
              autocomplete="off"
              required
              aria-placeholder="Seleccionar cuenta"
            >
              <option hidden selected disabled value="Seleccionar cuenta">
                Seleccionar cuenta
              </option>
              {% for account in accounts %}
              <option value="{{account.id}}">{{account.id}} {{account.type}}</option>
              {% endfor %}
            </select>

            <label for="originAccount">Cuenta de origen</label>
            {% include "icons/user.svg" %}
          </div>
          <div class="inputRow">
            {{ form.amount }}
            <label for="amount">Monto</label>
            {% include "icons/dollar-sign.svg" %}
          </div>
        </div>

        <div class="account_box">
          <h2>Cuenta a acreditar:</h2>
          <p>Asegurate de no acreditar a la misma cuenta de donde se debita.</p>
          <div class="inputRow">
            <select
              id="destAccount"
              name="destAccount"
              autocomplete="off"
              required
              aria-placeholder="Seleccionar cuenta"
            >
              <option hidden selected disabled value="Seleccionar cuenta">
                Seleccionar cuenta
              </option>
              {% for account in accounts %}
              <option value="{{account.id}}">{{account.id}} {{account.type}}</option>
              {% endfor %}
            </select>

            <label for="destAccount">Cuenta de destino</label>
            {% include "icons/user.svg" %}
          </div>
          <div class="inputRow">
            {{ form.description }}
            <label for="description">Descripcion</label>
            {% include "icons/align-justify.svg" %}
          </div>
        </div>

        <img src="{% static 'images/transfer.svg' %}" alt="Transfer" />
        <button>Transferir</button>
      </form>
    </main>
  </body>
</html>
