{% load static %}
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pago de planillas y proveedores | Banca Virtual</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/account.css' %}" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    {% include "navigation.html" %}
    <main>
      <div class="title" style="position: relative">
        <form class="inputs_container" method="POST" onsubmit="return preventSubmit()">
          <input type="checkbox" name="isProvider" id="isProvider" style="display: none" />
          <div class="payments_services">
            <h2>Pago de planilla</h2>
            <p>
              Aquí puedes realizar el pago<br />
              a empleados o proveedores.
              <button onclick="confirmPassword()">{% include "icons/dollar-sign.svg" %} Realizar pago</button>
            </p>
          </div>
          <div class="payments_accounts" method="POST">
            {% csrf_token %}
            <div class="inputRow">
              <select
                id="account"
                name="account"
                autocomplete="off"
                required
                aria-placeholder="Seleccionar cuenta"
              >
                <option hidden selected disabled value="Seleccionar cuenta">Seleccionar cuenta</option>
                {% for account in accounts %}
                <option value="{{account.id}}">{{account.id}} {{account.type}}</option>
                {% endfor %}
              </select>

              <label for="account">Cuenta a debitar</label>
              {% include "icons/user.svg" %}
            </div>
            <div class="inputRow">
              {{form.ismensualpayplan}}

              <label for="ismensualpayplan">Mensual<span>Plan de pago</span></label>
            </div>

            <div class="inputRow">
              {{form.amount}}

              <label for="amount">Monto</label>
              {% include "icons/dollar-sign.svg" %}
            </div>

            <div class="inputRow">
              {{form.payaccount}}

              <label for="employaccount">No. Cuenta</label>
              {% include "icons/hash.svg" %}
            </div>

            <div class="inputRow">
              {{form.payname}}

              <label for="employname">Nombre</label>
              {% include "icons/user-plus.svg" %}
            </div>
          </div>
        </form>
        <form
          method="POST"
          enctype="multipart/form-data"
          style="position: absolute; width: 230px; right: 20px; bottom: -35px"
        >
          {% csrf_token %}
          <div class="inputRow">
            <input
              type="file"
              id="csv"
              name="csv"
              autocomplete="off"
              placeholder="Subir planilla"
              oninvalid="this.setCustomValidity('Ingresa una cuenta valida')"
              oninput="this.setCustomValidity('')"
              style="display: none"
            />
            <label for="csv">Subir CSV</label>
            {% include "icons/archive.svg" %}
          </div>
          <button style="position: relative; top: -15px">Subir pagos</button>
        </form>
      </div>
      <div class="container">
        <!-- CUENTAS MONETARIAS -->
        <div class="accounts">
          <div class="account_container">
            <h2>Historial de <strong>pagos:</strong></h2>

            <ul class="accounts_table">
              <li>
                <strong>Cta. Pago</strong>
                <strong>Nombre</strong>
                <strong>Monto</strong>
                <strong>No. Cuenta</strong>
                <strong>Plan</strong>
              </li>
              {% for spread in spreads %}
              <li>
                <p>{{spread.1}}</p>
                <p>{{spread.2}}</p>
                <strong> {% if spread.13 == 1 %} $ {% else %} Q {% endif %} {{spread.3|floatformat:2}}</strong>
                <p>{{spread.6}}</p>
                <p>{% if spread.4 == 1 %}Mensual {% else %}Quincenal {% endif %}</p>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <img src="{% static 'images/spreads.svg' %}" alt="Accounts Illustration" />
      </div>
    </main>
    <script>
      // GLOBALES
      const isProvider = document.getElementById("isProvider");
      let password = "{{user.password}}";
      let send = false;

      // PROMPT DE CONTRA
      const confirmPassword = () => {
        let inputPass = prompt("Ingresa tu contraseña para continuar");
        let providerPrompt = prompt("¿Es un pago de proveedor?");

        if (inputPass === password) send = true;
        if (providerPrompt === "Si") isProvider.checked = true;
        else isProvider.checked = false;
      };

      // EVITAR ENVIÓ
      const preventSubmit = (ev) => {
        return send;
      };
    </script>
  </body>
</html>
