{% load static %}
<html lang="es">
  <head>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nav.css' %}" />
  </head>
  <body>
    <nav>
      <div id="profileContainer">
        <h1>{{name}}</h1>
        <p>+502-{{phone}}</p>
        <a href="/login" title="Cerrar sesión" class="button" style="margin-top: 10px">Cerrar sesión</a>
      </div>
      <hr />
      <ul>
        <li>
          <a href="{% url 'accounts' %} " id="accounts">{% include "icons/info.svg" %} <span>Cuentas</span></a>
        </li>
        <li>
          <a href="#" id="transactions">{% include "icons/repeat.svg" %} <span>Transacciones</span> </a>
          <ul>
            <li>
              <a href="{% url 'own_transactions' %}" id="own_transactions"
                >{% include "icons/user.svg" %} <span>Cuentas propias</span></a
              >
            </li>
            <li>
              <a href="{% url 'third_transactions' %}" id="third_transactions"
                >{% include "icons/users.svg" %} <span>Cuentas de terceros</span></a
              >
            </li>
          </ul>
        </li>
        <li>
          <a href="#" id="payments">{% include "icons/dollar-sign.svg" %} <span>Pagos</span></a>
          <ul>
            <li>
              <a href="{% url 'payments' %}" id="admin">{% include "icons/home.svg" %} <span>Servicios</span></a>
            </li>
            <li>
              <a href="{% url 'spreads' %}" id="admin"
                >{% include "icons/book-open.svg" %} <span>Planillas</span></a
              >
            </li>
          </ul>
        </li>
        <li>
          <a href="{% url 'checks' %}" id="checks">{% include "icons/check-square.svg" %} <span>Cheques</span></a>
        </li>
        <li>
          <a href="{% url 'loans' %}" id="loans">{% include "icons/book-open.svg" %} <span>Prestamos</span></a>
        </li>
        <li>
          <a href="{% url 'cards' %}" id="states"
            >{% include "icons/align-left.svg" %} <span>Saldos de tarjeta</span></a
          >
        </li>
      </ul>
    </nav>
    <script>
      // SELECCIONAR ITEMS
      const path = window.location.pathname;
      const items = document.querySelectorAll("nav > ul > li > a");

      // ACTIVAR RUTA
      items.forEach((item) => {
        const id = item.getAttribute("id");
        if (path.includes(id)) item.className = "route_active";
      });
    </script>
  </body>
</html>
