{% load static %}
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cheques | Banca Virtual</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/account.css' %}" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    {% include "navigation.html" %}
    <main>
      <div class="title">
        <div class="inputs_container">
          <div class="payments_services">
            <h2>Pre-autorización</h2>
            <p>
              Aquí puedes realizar la <br />preautorizacion de cheques.
              <button>{% include "icons/edit-3.svg" %} Preautorizar</button>
            </p>
          </div>
          <div class="payments_accounts">
            <div class="inputRow">
              <select
                id="account"
                autocomplete="off"
                required
                aria-placeholder="Seleccionar cuenta"
              >
                <option hidden selected disabled value="Seleccionar cuenta">
                  Seleccionar cuenta
                </option>
                <option>0000001 Alex Santos</option>
                <option>0000003 Daniel Valenzuela</option>
                <option>0000004 Alex Santos</option>
              </select>

              <label for="account">Cuenta de cheque</label>
              {% include "icons/user.svg" %}
            </div>
            <div class="inputRow">
              <input
                type="number"
                id="no_check"
                autocomplete="off"
                placeholder="2938082380"
                oninvalid="this.setCustomValidity('Ingresa un número de cheque valido')"
                oninput="this.setCustomValidity('')"
                required
              />
              <label for="no_check">Número de cheque</label>
              {% include "icons/credit-card.svg" %}
            </div>

            <div class="inputRow">
              <input
                type="number"
                id="amount"
                autocomplete="off"
                placeholder="999.99"
                oninvalid="this.setCustomValidity('Ingresa un monto valido')"
                oninput="this.setCustomValidity('')"
                required
              />
              <label for="amount">Monto</label>
              {% include "icons/dollar-sign.svg" %}
            </div>

            <div class="inputRow">
              <input
                type="text"
                id="name"
                autocomplete="off"
                placeholder="Nombre completo"
                oninvalid="this.setCustomValidity('Ingresa un nombre valido')"
                oninput="this.setCustomValidity('')"
                required
              />
              <label for="name">Beneficiario</label>
              {% include "icons/users.svg" %}
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <!-- CUENTAS MONETARIAS -->
        <div class="accounts">
          <div class="account_container">
            <h2>Historial de <strong>cheques:</strong></h2>

            <ul class="accounts_table">
              <li>
                <strong>Correlativo</strong>
                <strong>No. cuenta</strong>
                <strong>Monto</strong>
                <strong>Estado</strong>
                <strong>Acciones</strong>
              </li>
              <li>
                <p><strong>000001</strong></p>
                <p>83749827349</p>
                <p>Q321.22</p>
                <p><strong>Cobrado</strong></p>
                <p><button>{% include "icons/settings.svg" %}</button></p>
              </li>
              <li>
                <p><strong>000002</strong></p>
                <p>89237497833</p>
                <p>Q300.23</p>
                <p><strong>Autorizado</strong></p>
                <p><button>{% include "icons/settings.svg" %}</button></p>
              </li>
              <li>
                <p><strong>000003</strong></p>
                <p>176152525723</p>
                <p>Q999.24</p>
                <p><strong>Cobrado</strong></p>
                <p>
                  <button>{% include "icons/settings.svg" %}</button>
                </p>
              </li>
              <li>
                <p><strong>000004</strong></p>
                <p>83749827349</p>
                <p>Q321.22</p>
                <p><strong>Cobrado</strong></p>
                <p><button>{% include "icons/settings.svg" %}</button></p>
              </li>
              <li>
                <p><strong>000005</strong></p>
                <p>89237497833</p>
                <p>Q300.23</p>
                <p><strong>Autorizado</strong></p>
                <p><button>{% include "icons/settings.svg" %}</button></p>
              </li>
              <li>
                <p><strong>000006</strong></p>
                <p>176152525723</p>
                <p>Q999.24</p>
                <p><strong>Cobrado</strong></p>
                <p>
                  <button>{% include "icons/settings.svg" %}</button>
                </p>
              </li>
            </ul>
          </div>
        </div>

        <img
          src="{% static 'images/checks.svg' %}"
          alt="Accounts Illustration"
        />
      </div>
    </main>
  </body>
</html>
