{% load static %}
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesión | Banca Virtual</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <form>
      <h2>Iniciar sesión</h2>
      <p>Si ya tienes una cuenta en la banca en línea puedes iniciar aquí.</p>
      <div class="inputRow">
        <input
          type="email"
          id="email"
          autocomplete="off"
          placeholder="name@domain.com"
          oninvalid="this.setCustomValidity('Ingresa un correo valido')"
          oninput="this.setCustomValidity('')"
          required
        />
        <label for="email">Correo electrónico</label>
        {% include "icons/mail.svg" %}
      </div>
      <div class="inputRow">
        <input
          type="password"
          id="password"
          autocomplete="off"
          placeholder="Contraseña segura"
          oninvalid="this.setCustomValidity('La contraseña es obligatoria')"
          oninput="this.setCustomValidity('')"
          onfocus="this.type='text'"
          onblur="this.type='password'"
          required
        />
        <label for="birth">Contraseña</label>
        {% include "icons/lock.svg" %}
      </div>
      <div id="actions">
        <a class="button outline" href="{% url 'signing' %}" title="Registrarse"
          >Registrarse</a
        >
        <button>Iniciar sesión</button>
      </div>
    </form>
  </body>
</html>
