{% load static %}
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrarse | Banca Virtual</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/signing.css' %}" />
    <link
      rel="shortcut icon"
      href="{% static 'images/favicon.ico' %}"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="{% static 'images/favicon.ico' %}"
      type="image/x-icon"
    />
  </head>
  <body>
    <form action="{% url 'accounts' %}">
      <h2>Crear usuario</h2>
      <p>
        Llena el siguiente formulario para registrarte en la banca en linea.
      </p>
      <div class="inputGrid">
        <div class="inputRow">
          <input
            type="text"
            id="cui"
            autocomplete="off"
            placeholder="3773328520115"
            maxlength="13"
            minlength="13"
            pattern="\d*"
            oninvalid="this.setCustomValidity('Ingresa un CUI valido')"
            oninput="this.setCustomValidity('')"
            required
          />
          <label for="cui">Número de CUI o DPI</label>
          {% include "icons/credit-card.svg" %}
        </div>
        <div class="inputRow">
          <input
            type="text"
            id="nit"
            autocomplete="off"
            placeholder="123456"
            minlength="5"
            pattern="\d*"
            oninvalid="this.setCustomValidity('Ingresa un NIT valido')"
            oninput="this.setCustomValidity('')"
            required
          />
          <label for="nit">Número de NIT</label>
          {% include "icons/hash.svg" %}
        </div>
        <div class="inputRow">
          <input
            type="text"
            id="name"
            autocomplete="off"
            placeholder="Nuevo usuario"
            minlength="3"
            oninvalid="this.setCustomValidity('Ingresa un nombre valido')"
            oninput="this.setCustomValidity('')"
            required
          />
          <label for="name">Nombre completo</label>
          {% include "icons/user.svg" %}
        </div>
        <div class="inputRow">
          <input
            type="date"
            id="birth"
            autocomplete="off"
            placeholder="dd-mm-yyyy"
            value="2020-12-05"
            pattern="\d{1,2}/\d{1,2}/\d{4}"
            oninvalid="this.setCustomValidity('Ingresa una fecha valida')"
            oninput="this.setCustomValidity('')"
            required
          />
          <label for="birth">Fecha de nacimiento</label>
          {% include "icons/calendar.svg" %}
        </div>
        <div class="inputRow">
          <input
            type="email"
            id="email"
            autocomplete="off"
            placeholder="name@domain.com"
            oninvalid="this.setCustomValidity('Ingresa un correo valido')"
            oninput="this.setCustomValidity('')"
            required
          />
          <label for="email">Correo electrónico</label>
          {% include "icons/mail.svg" %}
        </div>
        <div class="inputRow">
          <input
            type="tel"
            id="phone"
            autocomplete="off"
            placeholder="50235678555"
            minlength="5"
            pattern="\d*"
            oninvalid="this.setCustomValidity('Ingresa un número valido')"
            oninput="this.setCustomValidity('')"
            required
          />
          <label for="phone">Número de teléfono</label>
          {% include "icons/phone.svg" %}
        </div>
        <div class="inputRow">
          <input
            type="password"
            id="password"
            autocomplete="off"
            placeholder="Contraseña segura"
            minlength="8"
            oninvalid="this.setCustomValidity('Este campo es obligatorio')"
            oninput="this.setCustomValidity('')"
            required
          />
          <label for="password">Contraseña</label>
          {% include "icons/lock.svg" %}
        </div>
        <div class="inputRow">
          <input
            type="password"
            id="confirm_password"
            autocomplete="off"
            placeholder="Contraseña segura"
            minlength="8"
            oninvalid="this.setCustomValidity('Este campo es obligatorio')"
            oninput="this.setCustomValidity('')"
            required
          />
          <label for="confirm_password">Confirmar contraseña</label>
          {% include "icons/lock.svg" %}
        </div>
      </div>

      <div id="actions">
        <a
          class="button outline"
          href="{% url 'login' %}"
          title="Iniciar sesión"
        >
          <span style="width: 100%; text-align: center">Iniciar sesión</span>
        </a>
        <a
          class="button outline"
          href="{% url 'business_signing' %}"
          title="Registrar empresa"
          ><span style="width: 100%; text-align: center"
            >Registrar empresa</span
          ></a
        >
        <button>
          <span style="width: 100%; text-align: center">Registrarse</span>
        </button>
      </div>
    </form>
  </body>
</html>
